// React-md variables
$md-light-theme: true; // optional for light theme
$md-primary-color: $md-blue-grey-500;
$md-secondary-color: $md-orange-a-700;

$app-white: #FFF;
$app-blue: $md-primary-color;

// Circle defaults
$circle-fill: #ffffad;
$circle-stroke: #efef41;
$circle-text: #515359;

// Descriptive variable names for easier assignment
$defense-fill: #f9bcc0;
$defense-stroke: #f44647;
$defense-text: $circle-text;

$offense-fill: #5fc6f5;
$offense-stroke: $circle-stroke;
$offense-text: $circle-text;

$networth-fill: $circle-fill;
$networth-stroke: $circle-stroke;
$networth-text: $circle-text;

$shortterm-fill: #83c5e4;
$shortterm-stroke: #6bb6f8;
$shortterm-text: $circle-text;

$midterm-fill: #b3e7ff;
$midterm-stroke: #6db8fe;
$midterm-text: $circle-text;

$longterm-fill: #90c5f5;
$longterm-stroke: #44c1ff;
$longterm-text: $circle-text;

$defense_parent-fill: #f9bcc0;
$defense_parent-stroke: #f44647;

$offense_parent-fill: #b3e7ff;
$offense_parent-stroke: #63b2ff;

$net_worth-fill: #82db83;
$net_worth-stroke: #42ac09;

$contribution-fill: $circle-fill;
$contribution-stroke: $circle-stroke;
$contribution-text: $circle-text;
