$app-white: #FFF !default;
$app-blue: #00BCD4 !default;

$circle-green-fill: #7CB342 !default;
$circle-green-stroke: #8BC34A !default;

$circle-yellow-fill: #DCE775 !default;
$circle-yellow-stroke: #F0F4C3 !default;

$circle-fields-fill: #212121 !default;
