// Component vars

// Trees
$circle-stroke-width: 5px !default;

// TabbedDrawer
$tab-height: 80px;
$tab-width: 40px;

// BalanceSheet
$marginBalanceSheet:10px;
$paddingBalanceSheet:10px;
$totalAmountColor:#dbe6ff;
$fontSizeBalanceSheet:15px;
$smallMarginSize: 5px;
$mediumMarginSize: 10px;
$largeMarginSize: 20px;
