fieldset {
  background: $transparent;
  border: solid 1px $transparent;
  margin: 0;
  padding: 0;
  font-size: 0.35vw;
  height:100%;
  width:100%;
  legend {
    text-align: center;
    margin: 0;
    padding: 0.3vw 0.3vw 0 0.3vw;
    cursor: default;
  }
  ul {
    margin: 0;
    padding: 0 0.3vw ;
  }
}
