.react-dropdown-select-dropdown-handle{
  svg {
    width:2em;
    height:2em;
  }
}
.react-dropdown-select-dropdown::-webkit-scrollbar {
  display: none;
}

.react-dropdown-select-dropdown-position-bottom{
  svg {
    width:2em;
    height:2em;
  }
  height: 6em!important;
}
