#short_term_money-group {
  .circle-group {
    rect {
      fill: url(#Gradient);
    }
  }
}

#mid_term_money-group {
  .circle-group {
    rect {
      fill: url(#Gradient);
    }
  }
}

#long_term_money-group {
  .circle-group {
    rect {
      fill: url(#Gradient);
    }
  }
}
