// Gradient Cone Set View Component

// Linear Gradients
#short_term_money-gradientcone {
  .gradient-start {
    stop-color: $short-term-money-gradientcone-start;
    stop-opacity: 1;
  }
  .gradient-stop {
    stop-color: $short-term-money-gradientcone-stop;
    stop-opacity: 0.5;
  }
}

#mid_term_money-gradientcone {
  .gradient-start {
    stop-color: $mid-term-money-gradientcone-start;
    stop-opacity: 1;
  }
  .gradient-stop {
    stop-color: $mid-term-money-gradientcone-stop;
    stop-opacity: 0.5;
  }
}
#long_term_money-gradientcone {
  .gradient-start {
    stop-color: $long-term-money-gradientcone-start;
    stop-opacity: 1;
  }
  .gradient-stop {
    stop-color: $long-term-money-gradientcone-stop;
    stop-opacity: 0.5;
  }
}
