#defense_allocation-group {
  circle {
    stroke: $circle-group1-stroke;
    fill: $circle-group1-fill;
  }
}
#offense_allocation-group {
  circle {
    stroke: $circle-group2-stroke;
    fill: $circle-group2-fill;
  }
}
#short_term_money-group {
  circle {
    stroke: $circle-group3-stroke;
    fill: $circle-group3-fill;
  }
}
#mid_term_money-group {
  circle {
    stroke: $circle-group4-stroke;
    fill: $circle-group4-fill;
  }
}
#long_term_money-group {
  circle {
    stroke: $circle-group5-stroke;
    fill: $circle-group5-fill;
  }
}

.circlenode {
  transition:
    stroke-width 0.15s;
}

.circle-group {
  &.parent-node {
    animation: initShowUp 1s;
  }

  &.child-node {
    opacity: 0;
    pointer-events: none;

    &.shown {
      display: inline;
      animation: showUp 0.5s;
      opacity: 1;
      pointer-events: auto;

      .circlenode {
        transition:
          cx 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          cy 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          stroke-width 0.15s;
      }
    }

    &.hidden {
      animation: hideAway 0.1s;
      animation: showUp 0.5s;
      opacity: 1;
      pointer-events: auto;

      .circlenode {
        transition:
          cx 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          cy 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          stroke-width 0.15s;
      }
    }

    &.hidden {
      animation: hideAway 0.1s;
      opacity: 0;

      .circlenode {
        transition:
          cx 0.5s cubic-bezier(0.19, 1, 0.22, 1),
          cy 0.5s cubic-bezier(0.19, 1, 0.22, 1),
          stroke-width 0.15s;
      }
    }

    &.afterHidden {
      display: none;
    }
  }
}

.circletext {
  opacity: 0;
  transition: opacity 0.5s;

  tspan {
    line-height: .75pt;
    font-weight: bold;
  }

  &.shown {
    opacity: 1;
  }

  &.hidden {
    opacity: 1;
    display: none;
  }
}

/** Showing up an element */
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Hiding an element */
@keyframes hideAway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/** Showing up an element with a little delay at the beginning */
@keyframes initShowUp {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
